version: "3"

services:
    web:
        build: .
        volumes:
            - .:/code
        ports:
            - "8000:8000"
        environment:
            - PORT=8000
            - DATABASE_URL=postgres://postgres:@postgres:5432/postgres
            - GUNICORN_CMD_ARGS=--reload
            - DJANGO_SETTINGS_MODULE={{ project_name }}.settings.base
            - SECRET_KEY=secret
            - ALLOWED_HOSTS=localhost
            - DEBUG=true
            - SECURE_SSL_REDIRECT=false
            - SESSION_COOKIE_SECURE=false
        depends_on:
          - postgres
        env_file:
            - .env
        # Explicitly specify process types to avoid honcho running release command
        command: ["honcho", "start", "web"]
    postgres:
        image: postgres
        ports:
            - "7000:5432"
